{% extends "layout.html"%}

{% block header_extra %}
<title>About Us || Auctov</title>


{% endblock header_extra %}


{% block content %}
<div class="container margin_60_35">
    <div class="row justify-content-between">
        <div class="col-xl-5 col-lg-5">
            <h3 class="nomargin_top">Some words about us</h3>
            <p>
                We are the Auction platform that provide the auction and sell 1st time in Bangladesh. Auction is a very
                popular term around us. Auction on online It still sounds strange in our community. But we try to build
                the community. We provide a buy and sell in auction and we also have the easy part to avoid the
                hassle-free auction and buy the product instant. We try to help our members to sell in best price and
                also buy the products in best price. By using auctove our members can buy or sell anything staying at
                home. This removes the problems of going to the live auction. In this pandemic situation, we try to
                built
                a new community that they can buy or sell time that are good pricing from their home and stay save. We
                try to deliver your product within 7 working days. Thanks for helping us to build the community.
                Auctov
                New way to buy and sell items.
            </p>

            <h4>New way to buy and sell items.</h4>
            <p>

        </div>
        <div class="col-xl-7 col-lg-7 text-right d-none d-lg-block">
            <img src="{{ url_for('static', filename='images/aboutus.png') }}" alt="" class="img-fluid">
        </div>
    </div><!-- End row -->
    <hr class="more_margin">
    <div class="main_title">
        <h2 class="nomargin_top">Quick food quality feautures</h2>
        <p>
            Cum doctus civibus efficiantur in imperdiet deterruisset.
        </p>
    </div>
    <div class="row">
        <div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
            <div class="feature">
                <i class="icon_building"></i>
                <h3><span>+ 500</span> Buyer and Seller</h3>
                <p>
                    Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor
                    imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
                </p>
            </div>
        </div>
        <div class="col-md-6 wow fadeIn" data-wow-delay="0.2s">
            <div class="feature">
                <i class="icon_documents_alt"></i>
                <h3><span>+1000</span> Product</h3>
                <p>
                    Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor
                    imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
                </p>
            </div>
        </div>
    </div><!-- End row -->
    <div class="row">
        <div class="col-md-6 wow fadeIn" data-wow-delay="0.3s">
            <div class="feature">
                <i class="icon_bag_alt"></i>
                <h3><span>Delivery</span> or Takeaway</h3>
                <p>
                    Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor
                    imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
                </p>
            </div>
        </div>
        <div class="col-md-6 wow fadeIn" data-wow-delay="0.4s">
            <div class="feature">
                <i class="icon_mobile"></i>
                <h3><span>Mobile</span> support</h3>
                <p>
                    Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor
                    imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
                </p>
            </div>
        </div>
    </div><!-- End row -->
    <div class="row">
        <div class="col-md-6 wow fadeIn" data-wow-delay="0.5s">
            <div class="feature">
                <i class="icon_wallet"></i>
                <h3><span>Cash</span> payment</h3>
                <p>
                    Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor
                    imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
                </p>
            </div>
        </div>
        <div class="col-md-6 wow fadeIn" data-wow-delay="0.6s">
            <div class="feature">
                <i class="icon_creditcard"></i>
                <h3><span>Secure card</span> payment</h3>
                <p>
                    Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor
                    imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
                </p>
            </div>
        </div>
    </div><!-- End row -->
</div>
{% endblock content %}