{% extends "layout.html" %}

{% block header_extra %}
<title>Home || Auctov</title>

{% endblock header_extra %}

{% block content %}




<!-- SubHeader =============================================== -->
<section class="parallax-window" id="home" data-parallax="scroll"
    data-image-src="{{ url_for('static', filename='images/bg-home.jpg') }}" data-natural-width="1400">
    <div id="subheader">
        <div id="sub_content">
            <h1>Buy & Sell Hassle Free</h1>
            <p>
                Choose from thousands of products or Become a Seller
            </p>

        </div><!-- End sub_content -->
    </div><!-- End subheader -->
</section><!-- End section -->
<!-- End SubHeader ============================================ -->

<!-- Content ================================================== -->
<div class="white_bg">
    <div class="container margin_60">
        <div class="main_title">
            <h2 class="nomargin_top">How to Buy</h2>
            <p>

            </p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="box_home" id="one">
                    <span>1</span>
                    <h3>Choose</h3>
                    <p>
                        Choose your product from thousands of listing.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="box_home" id="two">
                    <span>2</span>
                    <h3>Deal</h3>
                    <p>
                        Offer your price.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="box_home" id="three">
                    <span>3</span>
                    <h3>Pay by card or cash</h3>
                    <p>
                        It's quick, easy and totally secure.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="box_home" id="four">
                    <span>4</span>
                    <h3>Get Delivery</h3>
                    <p>
                        Get you product safely delivered.
                    </p>
                </div>
            </div>
        </div><!-- End row -->
    </div>
</div>

<!-- End container -->
<div class="white_bg">
    <div class="container margin_60">
        <div class="main_title">
            <h2 class="nomargin_top">Choose from Most Popular</h2>
            <p>
                Cum doctus civibus efficiantur in imperdiet deterruisset.
            </p>
        </div>
        <div class="row">
            <!--End tools -->
            {% if products %}


            {% for item in products %}

            <div class="col-lg-6">
                <a href="{{ url_for('product.singleProduct' , product_id=item[0]  ) }}" class="strip_list">
                    <div class="ribbon_1">Popular</div>
                    <div class="desc">
                        <div class="thumb_strip">
                            <img src="/static/uploads/{{item[5]}}" alt="">
                        </div>
                        <h3>{{ item[1] }}</h3>
                        <div class="type">
                            {{ item[4] }}
                        </div>
                        <div class="location">
                            {{ item[2] }} </div>

                    </div><!-- End desc-->
                </a><!-- End strip_list-->
            </div><!-- End col-md-6-->

            {% endfor %}
            {% endif %}

        </div><!-- End row -->
    </div><!-- End container -->
</div><!-- End white_bg -->
<div class="high_light">
    <div class="container">
        <h3>Choose from over 2,000 Products</h3>
        <p>We provide the most rreliable trade experience over the internet.</p>
        <a href="{{url_for('product.getMarketPlace')}}">View all Products</a>
    </div><!-- End container -->
</div><!-- End hight_light -->
<!-- End Content =============================================== -->
<div class="white_bg">
    <div class="container margin_60">
        <div class="main_title margin_mobile">
            <h2 class="nomargin_top">Start Today</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5">
                <a class="box_work" href="{{url_for('product.getAddProduct')}}">
                    <img src="{{ url_for('static', filename='images/sell.jpg') }}" width="848" height="480" alt=""
                        class="img-fluid">
                    <h3>Start Selling</h3>
                    <p>Lorem ipsum dolor sit amet, ut virtute fabellas vix, no pri falli eloquentiam adversarium. Ea
                        legere labore eam. Et eum sumo ocurreret, eos ei saepe oratio omittantur, legere eligendi
                        partiendo pro te.</p>
                    <div class="btn_1">Start Now</div>
                </a>
            </div>
            <div class="col-md-5">
                <a class="box_work" href="{{url_for('product.getMarketPlace')}}">
                    <img src="{{ url_for('static', filename='images/buy.jpg') }}" width="848" height="480" alt=""
                        class="img-fluid">
                    <h3>Buy Now</h3>
                    <p>Lorem ipsum dolor sit amet, ut virtute fabellas vix, no pri falli eloquentiam adversarium. Ea
                        legere labore eam. Et eum sumo ocurreret, eos ei saepe oratio omittantur, legere eligendi
                        partiendo pro te.</p>
                    <div class="btn_1">Start Now</div>
                </a>
            </div>
        </div><!-- End row -->
    </div>
</div><!-- End container -->

{% endblock %}