{% extends "layout.html"%}

{% block header_extra %}

<title>Registration || Auctov</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css2/auth.css') }}">



{% endblock header_extra %}

{% block content %}

<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img src="{{ url_for('static', filename='images/auctov_icon.png') }}" class="brand_logo" alt="Logo">
                </div>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form action="{{ url_for('auth.postSignup') }}" method="POST">
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" id="UserName" name="UserName" class="form-control input_user" required
                            placeholder="username">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></i></span>
                        </div>
                        <input type="email" id="Email" name="Email" class="form-control input_user" required
                            placeholder="Email">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" id="Password" name="Password" required class="form-control input_pass"
                            placeholder="password">
                    </div>
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <button type="submit" name="button" class="btn login_btn">Register</button>
                    </div>
                </form>
            </div>

            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    Already have an account? <a href="{{ url_for('auth.getLogin') }}" class="ml-2">LogIn</a>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}